body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  padding: 0;
}
.link-list {
  list-style: none;
}
.nav-link {
  text-decoration: none;
}

.heading {
  font-size: 1.8rem;
  text-align: center;
}
.paragraph {
  font-size: 1.5rem;
}
.item {
  font-size: 1.5rem;
}
.term-item {
  list-style: none;
}
.term {
  text-decoration: none;
}
#icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
  font-size: 1.05rem;
}
span {
  margin-left: 1rem;
}

#about-us {
  width: 100%;
}
.images-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin: 0;
}
.img-div {
  width: 100%;
}

.image {
  width: 100%;
}
#facilities {
  width: 100%;
}
#nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}
.copyrights {
  display: flex;
  flex-direction: column-reverse;
}

.copy {
  display: block;
  float: right;
  padding: 0.5rem;
}
.list {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  margin-top: 0.5rem;
}
#nav-logo {
  width: 10%;
}
#logo {
  width: 100%;
}
.image-logo {
  width: 20%;
}
#navigation {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}

.introduction {
  background-image: url(./images/introduction.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  margin-bottom: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.overlay-introduction {
  background-color: black;
  opacity: 0.65;
  position: inherit;
  height: 100%;
  width: 100%;
}

.introduction-container {
  position: absolute;
  top: 20rem;
  padding: 2rem;
}
.history-section {
  background-image: url(./images/intro\ two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  margin-bottom: 1rem;
  font-weight: 500;
}
.overlay-history {
  background-color: black;
  opacity: 0.65;
  position: inherit;
  height: 100%;
  width: 100%;
}
.history-container {
  position: relative;
  padding: 3rem;
  top: -38rem;
}
.values-section {
  background-image: url(./images/team\ work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  margin-bottom: 1rem;
  font-weight: 500;
}
.values-container {
  position: relative;
  top: -35rem;
}
.overlay-values {
  background-color: black;
  opacity: 0.65;
  position: inherit;
  top: 0;
  height: 100%;
  width: 100%;
}
.expertise-section {
  background-image: url(./images/expertise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  margin-bottom: 1rem;
  font-weight: 500;
}
.expertise-container {
  position: relative;
  padding: 2rem;
  top: -36rem;
}
.overlay-expertise {
  background-color: black;
  opacity: 0.65;
  position: inherit;
  height: 100%;
  width: 100%;
}
.facilities-section {
  background-image: url(./images/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  margin-bottom: 1rem;
  font-weight: 500;
}
.facilities-container {
  position: relative;
  padding: 2rem;
  top: -38rem;
}
.overlay-facilities {
  background-color: black;
  opacity: 0.65;
  position: inherit;
  top: 0;
  height: 100%;
  width: 100%;
}
footer {
  background-color: grey;
}
#contact-us {
  background-color: #363f46;
  margin-top: 1rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
}
